@import "../scss/bootstrap.scss";
.home {
    min-height: 100vh;
    .overlay {
      display: block;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1100;
      opacity: 1;
    }
  
    .mouse {
      margin-top: 10rem !important;
      color: $primary;
      .mouse-scroll-container {
        align-content: center;
        .mouse-icon {
          width: 80px;
          height: 80px;
        }
      }
    }
    p {
      a {
        color: blue !important;
      }
    }
  }
  #skills {
    min-height: 100vh;
    align-content: center;
    background: url("../assets/skills_bg2.png") lightgray -0.286px 0px / 100.03% 137.19%
      no-repeat;
  }
  #projects {
    min-height: 100vh;
    background-color: $primary;
    color: #ffffff;
  }