@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/bootstrap.scss";
.main-title {
    align-content: center;
    padding: 2rem;
    h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%;
      span.name {
        color: $secondary;
      }
    }
    span {
      h1 {
        display: inline;
      }
    }
    .code {
      color: $primary;
      font-family: Consolas;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
    }
    p {
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }
  
  @include media-breakpoint-up(md) {
    .main-title {
      padding: 4rem;
    }
  }