#nav-item {
    &.nav-item {
      padding-left: 1vw;
      padding-right: 1vw;
      align-content: center;
  
      a {
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        display: inline-block;
        position: relative;
  
        &:hover {
          font-weight: bold;
        }
  
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #fff;
          transform-origin: bottom center;
          transition: transform 0.15s ease-out;
        }
  
        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom center;
        }
      }
    }
  }